<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1><%= @place.name %></h1>
	<i><%= @place.address %></i>
	<br/><br/>
	<p><%= @place.description %></p>

	<style>
		#map-canvas {
			height: 300px;
		}
	</style>
	<script src="https://maps.googleapis.com/map/api/js?v=3.exp&sensor=false"></script>
	<script>
		function initialize() {
			var myLatlng = new google.maps.LatLng(-25.363882, 131.044922);
			var mapOptions = {
				zoom: 4,
				center: myLatlng
			};
			var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

			var marker = new google.maps.Marker({
				postion: myLatlng,
				map: map,
				title: 'Hello World!'
			});
		}

	google.maps.event.addDomListerner(window, 'load', initialize);

	</script>

	<div id="map-canvas"></div>

	<div class="pull-right">
		<% if current_user && current_user == @place.user %>
			<%= link_to 'Edit', edit_place_path(@place), :class => 'btn btn-primary' %>
			<%= link_to 'Destroy', place_path(@place), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'}, :class => 'btn btn-danger' %>
		<% end %>
	</div>
</div>